ClienteLab07/ClienteLab07/Connected Services/Service/Servicio1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.marketsoft.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="Servicio" targetNamespace="http://services.marketsoft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://3.233.57.147:8080/MarketSoftServices/Servicio?xsd=1" namespace="http://services.marketsoft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="insertarPromociones">
    <part name="parameters" element="tns:insertarPromociones" />
  </message>
  <message name="insertarPromocionesResponse">
    <part name="parameters" element="tns:insertarPromocionesResponse" />
  </message>
  <message name="actualizarPromociones">
    <part name="parameters" element="tns:actualizarPromociones" />
  </message>
  <message name="actualizarPromocionesResponse">
    <part name="parameters" element="tns:actualizarPromocionesResponse" />
  </message>
  <message name="eliminarPromociones">
    <part name="parameters" element="tns:eliminarPromociones" />
  </message>
  <message name="eliminarPromocionesResponse">
    <part name="parameters" element="tns:eliminarPromocionesResponse" />
  </message>
  <message name="listarPromociones">
    <part name="parameters" element="tns:listarPromociones" />
  </message>
  <message name="listarPromocionesResponse">
    <part name="parameters" element="tns:listarPromocionesResponse" />
  </message>
  <message name="listarProductos">
    <part name="parameters" element="tns:listarProductos" />
  </message>
  <message name="listarProductosResponse">
    <part name="parameters" element="tns:listarProductosResponse" />
  </message>
  <message name="hello">
    <part name="parameters" element="tns:hello" />
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse" />
  </message>
  <portType name="Servicio">
    <operation name="insertarPromociones">
      <input wsam:Action="http://services.marketsoft.pucp.edu.pe/Servicio/insertarPromocionesRequest" message="tns:insertarPromociones" />
      <output wsam:Action="http://services.marketsoft.pucp.edu.pe/Servicio/insertarPromocionesResponse" message="tns:insertarPromocionesResponse" />
    </operation>
    <operation name="actualizarPromociones">
      <input wsam:Action="http://services.marketsoft.pucp.edu.pe/Servicio/actualizarPromocionesRequest" message="tns:actualizarPromociones" />
      <output wsam:Action="http://services.marketsoft.pucp.edu.pe/Servicio/actualizarPromocionesResponse" message="tns:actualizarPromocionesResponse" />
    </operation>
    <operation name="eliminarPromociones">
      <input wsam:Action="http://services.marketsoft.pucp.edu.pe/Servicio/eliminarPromocionesRequest" message="tns:eliminarPromociones" />
      <output wsam:Action="http://services.marketsoft.pucp.edu.pe/Servicio/eliminarPromocionesResponse" message="tns:eliminarPromocionesResponse" />
    </operation>
    <operation name="listarPromociones">
      <input wsam:Action="http://services.marketsoft.pucp.edu.pe/Servicio/listarPromocionesRequest" message="tns:listarPromociones" />
      <output wsam:Action="http://services.marketsoft.pucp.edu.pe/Servicio/listarPromocionesResponse" message="tns:listarPromocionesResponse" />
    </operation>
    <operation name="listarProductos">
      <input wsam:Action="http://services.marketsoft.pucp.edu.pe/Servicio/listarProductosRequest" message="tns:listarProductos" />
      <output wsam:Action="http://services.marketsoft.pucp.edu.pe/Servicio/listarProductosResponse" message="tns:listarProductosResponse" />
    </operation>
    <operation name="hello">
      <input wsam:Action="http://services.marketsoft.pucp.edu.pe/Servicio/helloRequest" message="tns:hello" />
      <output wsam:Action="http://services.marketsoft.pucp.edu.pe/Servicio/helloResponse" message="tns:helloResponse" />
    </operation>
  </portType>
  <binding name="ServicioPortBinding" type="tns:Servicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarPromociones">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarPromociones">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarPromociones">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPromociones">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProductos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="hello">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Servicio">
    <port name="ServicioPort" binding="tns:ServicioPortBinding">
      <soap:address location="http://3.233.57.147:8080/MarketSoftServices/Servicio" />
    </port>
  </service>
</definitions>