ClienteLab07/ClienteLab07/Connected Services/Service/Servicio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.marketsoft.pucp.edu.pe/" targetNamespace="http://services.marketsoft.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarPromociones" type="tns:actualizarPromociones" />
  <xs:element name="actualizarPromocionesResponse" type="tns:actualizarPromocionesResponse" />
  <xs:element name="eliminarPromociones" type="tns:eliminarPromociones" />
  <xs:element name="eliminarPromocionesResponse" type="tns:eliminarPromocionesResponse" />
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:element name="insertarPromociones" type="tns:insertarPromociones" />
  <xs:element name="insertarPromocionesResponse" type="tns:insertarPromocionesResponse" />
  <xs:element name="listarProductos" type="tns:listarProductos" />
  <xs:element name="listarProductosResponse" type="tns:listarProductosResponse" />
  <xs:element name="listarPromociones" type="tns:listarPromociones" />
  <xs:element name="listarPromocionesResponse" type="tns:listarPromocionesResponse" />
  <xs:complexType name="listarPromociones">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPromocionesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:promocion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="promocion">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:itemVenta">
        <xs:sequence>
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="lineasDetallePromocion" nillable="true" type="tns:lineaDetallePromocion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="itemVenta">
    <xs:sequence>
      <xs:element name="idItemVenta" type="xs:int" />
      <xs:element minOccurs="0" name="tipoItem" type="tns:tipoItem" />
      <xs:element name="precioUnitario" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lineaDetallePromocion">
    <xs:sequence>
      <xs:element name="cantidad" type="xs:int" />
      <xs:element name="idLineaDetallePromocion" type="xs:int" />
      <xs:element minOccurs="0" name="productoPresentacion" type="tns:productoPresentacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productoPresentacion">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:itemVenta">
        <xs:sequence>
          <xs:element minOccurs="0" name="producto" type="tns:producto" />
          <xs:element minOccurs="0" name="presentacion" type="tns:presentacion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="producto">
    <xs:sequence>
      <xs:element name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="presentacion">
    <xs:sequence>
      <xs:element name="idPresentacion" type="xs:int" />
      <xs:element minOccurs="0" name="unidadMedida" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoItem">
    <xs:sequence>
      <xs:element name="idTipoItem" type="xs:int" />
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPromociones">
    <xs:sequence>
      <xs:element minOccurs="0" name="Promocion" type="tns:promocion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPromocionesResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPromociones">
    <xs:sequence>
      <xs:element name="id_promocion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPromocionesResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarPromociones">
    <xs:sequence>
      <xs:element minOccurs="0" name="Promocion" type="tns:promocion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarPromocionesResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarProductos">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarProductosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:productoPresentacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>